body {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background: linear-gradient(rgba(40,0,70,0.6)),
              url('https://images.unsplash.com/photo-1561501900-3701fa6a0864?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjBkZSUyMGx1am98ZW58MHx8MHx8fDA%3D') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

h1{
    color: #f64e4e;
}
a{
    color :rgb(255, 255, 255)
}

h2{
    color :#a77af4;
}
p{
    color :#f4f17a;
}
table{
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}